//registry.npmjs.org/:_authToken=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
@bw:registry=https://bandwidth.jfrog.io/artifactory/api/npm/forge-npm/
//bandwidth.jfrog.io/bandwidth/api/npm/npm-local-releases/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJacE1nRlBFRTRLbkZKNVl2RndxWXRYRmR6YkpRR3htZU0wT3BrOXY5RjR3In0.eyJzdWIiOiJqZnJ0QDAxYzQyYWgyZmUwZHJoMHI2amg1M2QwMXMwL3VzZXJzL2Jjb2F0cyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvdXNlciIsImF1ZCI6ImpmcnRAMDFjNDJhaDJmZTBkcmgwcjZqaDUzZDAxczAiLCJpc3MiOiJqZnJ0QDAxYzQyYWgyZmUwZHJoMHI2amg1M2QwMXMwL3VzZXJzL19zeXN0ZW1fIiwiZXhwIjoxNjk1MjIyMzM1LCJpYXQiOjE2OTI2MzAzMzUsImp0aSI6IjRiNmEyZDA0LWYxZDgtNGUzZi1iZDFhLTQ0ZjgyYzY5OGJmMiJ9.BMnsyEZq_5eKggPfDwvLTOodlhoFXEySOmjO7J6OXuUiaoN1S-VQdvtTZF4NUyY_3WkavK8m47m-GDXRkuBM7t8n5N3mA8XClqq2HSfdCiToEKbvO9vOfEFMBoxLHxLe3tHFOH2BHAA-rr-4eeZyddPrjljrUavpHw7ckYMp69aRIjui0NpLBFzBmpRHxCTmkZvZAkXKpVOY0lG8Q9TblAqtEp1APhzRvqb4hOsDjje1lURf26yUuekZtcWGxEDrCR9jsV95-CmrEIk7F025KgXhNDHevERag-DRUjpU2kODh0wWV-keX8InfBeLWL5OOc8pGSsnF579LB_Hz9sSEg
@forge:registry=https://bandwidth.jfrog.io/bandwidth/api/npm/forge-npm/
//bandwidth.jfrog.io/bandwidth/api/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJacE1nRlBFRTRLbkZKNVl2RndxWXRYRmR6YkpRR3htZU0wT3BrOXY5RjR3In0.eyJzdWIiOiJqZnJ0QDAxYzQyYWgyZmUwZHJoMHI2amg1M2QwMXMwL3VzZXJzL2Jjb2F0cyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvdXNlciIsImF1ZCI6ImpmcnRAMDFjNDJhaDJmZTBkcmgwcjZqaDUzZDAxczAiLCJpc3MiOiJqZnJ0QDAxYzQyYWgyZmUwZHJoMHI2amg1M2QwMXMwL3VzZXJzL19zeXN0ZW1fIiwiZXhwIjoxNjk1MjIyNjYzLCJpYXQiOjE2OTI2MzA2NjMsImp0aSI6IjI2MWE3YmY5LTQ4MzMtNDdjNy1hOWE0LWRjNDM2M2U2OWFhMSJ9.K3QQ0igyKYXtra00EQpOImNanRkYDJYKID79Bzf2tLj4A86tJxH8R0Mf3AOzoZrnHct-nDWxy8-ewI5Y0QmM6Lsj1pFfRpCUNn6suKHSTvH7lj6pGaKg4_k6Sb2I5CvHrsoXBwY1Smnd6JKy_EULD1s0qL_ltC69M-Qxgs3AG00DGXiEdnVLcxPsy2b-hCNQQN0Ffr3gUWDMKv-vP_eoMKv2wXx7vBy2NDAWpxuKYqVzzgCENe9nlv_7AKUbYvaQ_fJ0HzUvoluP7k50XA3ldi7heFNetI0gSejWuuEU_6j6vwoDkicd-a0mZGcUNGrDdrHa_cgLyf3bOswaYCcbTg
registry=https://bandwidth.jfrog.io/artifactory/api/npm/forge-npm/
//bandwidth.jfrog.io/artifactory/api/npm/forge-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJacE1nRlBFRTRLbkZKNVl2RndxWXRYRmR6YkpRR3htZU0wT3BrOXY5RjR3In0.eyJzdWIiOiJqZnJ0QDAxYzQyYWgyZmUwZHJoMHI2amg1M2QwMXMwL3VzZXJzL2Jjb2F0cyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvdXNlciIsImF1ZCI6ImpmcnRAMDFjNDJhaDJmZTBkcmgwcjZqaDUzZDAxczAiLCJpc3MiOiJqZnJ0QDAxYzQyYWgyZmUwZHJoMHI2amg1M2QwMXMwL3VzZXJzL19zeXN0ZW1fIiwiZXhwIjoxNjk1MjIyNzcwLCJpYXQiOjE2OTI2MzA3NzAsImp0aSI6IjdlZDVjYWU3LTA0ZjYtNDkwNS05MmMzLTA2YzU0ODQ2YjEwYyJ9.KIyPSEUgki6W-FagRdc1oG0D8enlHf4pelN9tsjiEA1OEWQKDNU2lC59-tkSCVOf6ClrZGwNntVmw_Ig1Bh5lcMw0IqpVvHGxp69bb0J6yDh-uX6TdCr841FA1PZokTaU9cTsgp8c7CHFyJ37rOyysZmGq0SUhyycDpPjet8P44hEo37waoL4WSG1snzrKqj4ljRgGVnLXwPduBZtfJxMwZJPulu0LERM4Ph7b30oiJ-TCkhnZzl891TLghTD2EK-ID8T2FcMe_hfCSjzqwPEiJuR5VTZU0YpwRK8ez9Ft9dCwkuXkQor2wg9_Nknb5ACCBVk74-lRAf8a5Owf6QZg
