:root {
          --bp-sys-color-primary-main: #076ea8;
  --bp-sys-color-primary-on-main: #ffffff;
  --bp-sys-color-primary-container: #e6f5fd;
  --bp-sys-color-primary-container-variant: #9bd7f8;
  --bp-sys-color-primary-on-container: #084f7a;
  --bp-sys-color-secondary-main: #084f7a;
  --bp-sys-color-secondary-on-main: #ffffff;
  --bp-sys-color-secondary-container: #075e91;
  --bp-sys-color-secondary-container-variant: #076ea8;
  --bp-sys-color-secondary-on-container: #ffffff;
  --bp-sys-color-tertiary-main: #8b50b1;
  --bp-sys-color-tertiary-on-main: #ffffff;
  --bp-sys-color-tertiary-container: #512e65;
  --bp-sys-color-tertiary-container-variant: #341c3f;
  --bp-sys-color-tertiary-on-container: #ffffff;
  --bp-sys-color-error-main: #c43837;
  --bp-sys-color-error-on-main: #ffffff;
  --bp-sys-color-error-container: #fdf7f7;
  --bp-sys-color-error-container-variant: #fbebeb;
  --bp-sys-color-error-on-container: #320e11;
  --bp-sys-color-warning-main: #b19014;
  --bp-sys-color-warning-on-main: #ffffff;
  --bp-sys-color-warning-container: #fefcf1;
  --bp-sys-color-warning-container-variant: #fefae8;
  --bp-sys-color-warning-on-container: #392b0a;
  --bp-sys-color-success-main: #028663;
  --bp-sys-color-success-on-main: #ffffff;
  --bp-sys-color-success-container: #f4fcfa;
  --bp-sys-color-success-container-variant: #e5f8f3;
  --bp-sys-color-success-on-container: #072820;
  --bp-sys-color-surface-main: #ffffff;
  --bp-sys-color-surface-on-main: #090306;
  --bp-sys-color-surface-variant: #e5e5e5;
  --bp-sys-color-surface-on-variant: #777476;
  --bp-sys-color-background-main: #f9f9f9;
  --bp-sys-color-background-on-main: #6b6769;
  --bp-sys-color-background-variant: #f2f2f2;
  --bp-sys-color-outline-main: #cdcccd;
  --bp-sys-color-outline-variant: #848182;
  --bp-sys-color-outline-primary: #079cee;
  --bp-sys-color-outline-warning: #facd1a;
  --bp-sys-color-outline-error: #efb1b1;
  --bp-sys-color-outline-success: #99e5d1;
  --bp-sys-color-outline-seperator: #cdcccd;
  --bp-sys-color-disabled-main: #dad9d9;
  --bp-sys-color-disabled-on-main: #5e5a5c;
  --bp-sys-m01: 0px 1px 1px 0px #00000024, 0px 2px 1px 0px #0000001f, 0px 1px 3px 0px #00000033;
  --bp-sys-m02: 0px 1px 5px 0px #00000033, 0px 3px 1px 0px #0000001f, 0px 2px 2px 0px #00000024;
  --bp-sys-m03: 0px 1px 8px 0px #00000033, 0px 3px 3px 0px #0000001f, 0px 3px 4px 0px #00000024;
  --bp-sys-m04: 0px 2px 4px 0px #00000033, 0px 1px 10px 0px #0000001f, 0px 4px 5px 0px #00000024;
  --bp-sys-m06: 0px 3px 5px 0px #00000033, 0px 1px 18px 0px #0000001f, 0px 6px 10px 0px #00000024;
  --bp-sys-m08: 0px 5px 5px 0px #00000033, 0px 3px 14px 0px #0000001f, 0px 8px 10px 0px #00000024;
  --bp-sys-m09: 0px 5px 6px 0px #00000033, 0px 3px 16px 0px #0000001f, 0px 9px 12px 0px #00000024;
  --bp-sys-m12: 0px 7px 8px 0px #00000033, 0px 5px 22px 0px #0000001f, 0px 12px 17px 0px #00000024;
  --bp-sys-m16: 0px 8px 10px 0px #00000033, 0px 6px 30px 0px #0000001f, 0px 16px 24px 0px #00000024;
  --bp-sys-m24: 0px 24px 38px 0px #00000024, 0px 9px 46px 0px #0000001f, 0px 11px 15px 0px #00000033;
  --bp-color-background-primary: #f2f2f2;
  --bp-color-background-disabled: #dad9d9;
  --bp-color-background-success: #e5f8f3;
  --bp-color-background-warning: #fefae8;
  --bp-color-background-info: #e6f5fd;
  --bp-color-background-error: #fbebeb;
  --bp-color-accordion-background-default: #ffffff;
  --bp-color-accordion-background-features: #e5e5e5;
  --bp-color-accordion-border-default: #cdcccd;
  --bp-color-surface-primary: #ffffff;
  --bp-color-surface-secondary: #e5e5e5;
  --bp-color-navigation-background-default: #ffffff;
  --bp-color-navigation-background-hover: #e6f5fd;
  --bp-color-navigation-background-active: #e6f5fd;
  --bp-color-navigation-background-selected: #075e91;
  --bp-color-navigation-background-emergency: #e66440;
  --bp-color-navigation-background-slim-default: #ffffff;
  --bp-color-navigation-background-slim-hover: #075e91;
  --bp-color-navigation-background-slim-active: #075e91;
  --bp-color-navigation-background-slim-selected: #075e91;
  --bp-color-navigation-background-slim-emergency: #e66440;
  --bp-color-navigation-icon-default: #076ea8;
  --bp-color-navigation-icon-hover: #084f7a;
  --bp-color-navigation-icon-active: #084f7a;
  --bp-color-navigation-icon-selected: #ffffff;
  --bp-color-navigation-icon-slim-default: #076ea8;
  --bp-color-navigation-icon-slim-hover: #ffffff;
  --bp-color-navigation-icon-slim-active: #ffffff;
  --bp-color-navigation-icon-slim-selected: #ffffff;
  --bp-color-navigation-text-default: #090306;
  --bp-color-navigation-text-hover: #084f7a;
  --bp-color-navigation-text-active: #ffffff;
  --bp-color-navigation-border-active: #084f7a;
  --bp-color-navigation-border-default: #cdcccd;
  --bp-color-secondary-navigation-background-default: #e6f5fd;
  --bp-color-secondary-navigation-background-hover: #ffffff;
  --bp-color-secondary-navigation-background-active: #e6f5fd;
  --bp-color-secondary-navigation-background-selected: #ffffff;
  --bp-color-secondary-navigation-text-default: #090306;
  --bp-color-secondary-navigation-text-selected: #076ea8;
  --bp-color-secondary-navigation-text-active: #084f7a;
  --bp-color-secondary-navigation-border-active: #084f7a;
  --bp-color-input-background-default: #ffffff;
  --bp-color-input-background-hover: #ffffff;
  --bp-color-input-background-selected: #076ea8;
  --bp-color-input-background-disabled: #dad9d9;
  --bp-color-input-background-disabled-selected: #5e5a5c;
  --bp-color-input-icon-default: #777476;
  --bp-color-input-icon-disabled: #5e5a5c;
  --bp-color-input-border-default: #cdcccd;
  --bp-color-input-border-hover: #cdcccd;
  --bp-color-input-border-selected: #076ea8;
  --bp-color-input-border-error: #c43837;
  --bp-color-input-border-disabled: #5e5a5c;
  --bp-color-input-text-placeholder: #777476;
  --bp-color-input-text-input: #090306;
  --bp-color-input-text-requried: #c43837;
  --bp-color-dropdown-background-default: #ffffff;
  --bp-color-dropdown-background-hover: #ffffff;
  --bp-color-dropdown-background-selected: #ffffff;
  --bp-color-dropdown-background-disabled: #dad9d9;
  --bp-color-dropdown-background-error: #ffffff;
  --bp-color-dropdown-border-default: #cdcccd;
  --bp-color-dropdown-border-hover: #848182;
  --bp-color-dropdown-border-selected: #848182;
  --bp-color-dropdown-border-error: #c43837;
  --bp-color-dropdown-border-disabled: #5e5a5c;
  --bp-color-dropdown-border-selected-variant: #e6f5fd;
  --bp-color-dropdown-icon-default: #777476;
  --bp-color-dropdown-icon-disabled: #5e5a5c;
  --bp-color-chip-background-default: #ffffff;
  --bp-color-chip-background-enabled: #028663;
  --bp-color-chip-background-error: #c43837;
  --bp-color-chip-background-pending: #b19014;
  --bp-color-chip-background-messaging: #00bf8c;
  --bp-color-chip-background-voice: #9a59c5;
  --bp-color-chip-background-disabled: #dad9d9;
  --bp-color-chip-background-numbers: #652b51;
  --bp-color-chip-text-default: #090306;
  --bp-color-chip-text-enabled: #ffffff;
  --bp-color-chip-text-error: #ffffff;
  --bp-color-chip-text-pending: #ffffff;
  --bp-color-chip-text-messaging: #072820;
  --bp-color-chip-text-voice: #ffffff;
  --bp-color-chip-text-disabled: #5e5a5c;
  --bp-color-chip-text-numbers: #ffffff;
  --bp-color-modal-background-header: #ffffff;
  --bp-color-modal-background-footer: #e5e5e5;
  --bp-color-radio-background-default: #ffffff;
  --bp-color-radio-background-hover: #e6f5fd;
  --bp-color-radio-background-active: #ffffff;
  --bp-color-radio-background-selected: #076ea8;
  --bp-color-radio-background-selected-hover: #084f7a;
  --bp-color-radio-background-disabled: #dad9d9;
  --bp-color-radio-background-disabled-selected: #5e5a5c;
  --bp-color-radio-background-selected-active: #084f7a;
  --bp-color-radio-border-default: #cdcccd;
  --bp-color-radio-border-hover: #cdcccd;
  --bp-color-radio-border-active: #084f7a;
  --bp-color-radio-border-selected: #076ea8;
  --bp-color-radio-border-selected-hover: #084f7a;
  --bp-color-radio-border-disabled: #5e5a5c;
  --bp-color-radio-border-disabled-selected: #5e5a5c;
  --bp-color-radio-border-selected-active: #076ea8;
  --bp-color-switch-background-default: #ffffff;
  --bp-color-switch-background-hover: #e6f5fd;
  --bp-color-switch-background-selected: #076ea8;
  --bp-color-switch-background-selected-hover: #084f7a;
  --bp-color-switch-background-disabled: #dad9d9;
  --bp-color-switch-background-disabled-selected: #5e5a5c;
  --bp-color-switch-icon-default: #090306;
  --bp-color-switch-icon-selected: #ffffff;
  --bp-color-switch-icon-disabled: #5e5a5c;
  --bp-color-switch-border-default: #cdcccd;
  --bp-color-switch-border-selected: #076ea8;
  --bp-color-switch-border-selected-hover: #084f7a;
  --bp-color-switch-border-disabled: #5e5a5c;
  --bp-color-table-background-header: #e5e5e5;
  --bp-color-table-background-cell: #ffffff;
  --bp-color-table-border-default: #cdcccd;
  --bp-color-table-icons-default: #5e5a5c;
  --bp-color-table-icons-active: #076ea8;
  --bp-color-badge-background-default: #f4fcfa;
  --bp-color-badge-background-disabled: #dad9d9;
  --bp-color-badge-background-error: #c43837;
  --bp-color-badge-background-warning: #b19014;
  --bp-color-badge-background-admin: #090306;
  --bp-color-badge-background-success: #028663;
  --bp-color-badge-background-product-messaging: #00bf8c;
  --bp-color-badge-background-product-voice: #9a59c5;
  --bp-color-badge-background-product-numbers: #652b51;
  --bp-color-badge-text-default: #090306;
  --bp-color-badge-text-disabled: #5e5a5c;
  --bp-color-badge-text-error: #ffffff;
  --bp-color-badge-text-warning: #ffffff;
  --bp-color-badge-text-success: #ffffff;
  --bp-color-badge-text-product-messagin: #072820;
  --bp-color-badge-text-product-voice: #ffffff;
  --bp-color-badge-text-product-numbers: #ffffff;
  --bp-color-badge-text-admin: #ffffff;
  --bp-color-badge-border-default: #028663;
  --bp-color-badge-border-error: #c43837;
  --bp-color-badge-border-warning: #b19014;
  --bp-color-badge-icon-admin: #ffffff;
  --bp-color-badge-icon-admin-background: #079cee;
  --bp-color-button-outlined-background-default: #ffffff;
  --bp-color-button-outlined-background-hover: #ffffff;
  --bp-color-button-outlined-background-active: #ffffff;
  --bp-color-button-outlined-background-disabled: #f2f2f2;
  --bp-color-button-outlined-border-default: #076ea8;
  --bp-color-button-outlined-border-hover: #075e91;
  --bp-color-button-outlined-border-active: #084f7a;
  --bp-color-button-outlined-border-disabled: #dad9d9;
  --bp-color-button-outlined-text-default: #076ea8;
  --bp-color-button-outlined-text-hover: #075e91;
  --bp-color-button-outlined-text-active: #084f7a;
  --bp-color-button-outlined-text-disabled: #5e5a5c;
  --bp-color-button-outlined-icon-default: #076ea8;
  --bp-color-button-outlined-icon-hover: #075e91;
  --bp-color-button-outlined-icon-active: #084f7a;
  --bp-color-button-outlined-icon-disabled: #5e5a5c;
  --bp-color-button-contained-background-default: #076ea8;
  --bp-color-button-contained-background-hover: #075e91;
  --bp-color-button-contained-background-active: #084f7a;
  --bp-color-button-contained-background-disabled: #dad9d9;
  --bp-color-button-contained-border-default: #076ea8;
  --bp-color-button-contained-border-hover: #075e91;
  --bp-color-button-contained-border-active: #084f7a;
  --bp-color-button-contained-border-disabled: #dad9d9;
  --bp-color-button-contained-text-default: #ffffff;
  --bp-color-button-contained-text-disabled: #5e5a5c;
  --bp-color-button-contained-icon-default: #ffffff;
  --bp-color-button-contained-icon-hover: #ffffff;
  --bp-color-button-contained-icon-active: #ffffff;
  --bp-color-button-contained-icon-disabled: #5e5a5c;
  --bp-color-button-text-default: #076ea8;
  --bp-color-button-text-hover: #084f7a;
  --bp-color-button-text-active: #084f7a;
  --bp-color-button-text-disabled: #5e5a5c;
  --bp-color-button-text-background-hover: #e6f5fd;
  --bp-color-button-text-background-active: #e6f5fd;
  --bp-color-button-text-icon-default: #076ea8;
  --bp-color-button-text-icon-hover: #084f7a;
  --bp-color-button-text-icon-active: #084f7a;
  --bp-color-button-text-icon-disabled: #5e5a5c;
  --bp-color-button-icon-background-default: #ffffff;
  --bp-color-button-icon-background-hover: #e6f5fd;
  --bp-color-button-icon-background-active: #e6f5fd;
  --bp-color-button-icon-background-disabled: #dad9d9;
  --bp-color-button-icon-border-active: #084f7a;
  --bp-color-button-icon-icon-default: #076ea8;
  --bp-color-button-icon-icon-hover: #084f7a;
  --bp-color-button-icon-icon-active: #084f7a;
  --bp-color-button-icon-icon-disabled: #5e5a5c;
  --bp-color-outline-focus: #079cee;
  --bp-color-alert-text-info: #084f7a;
  --bp-color-alert-text-success: #072820;
  --bp-color-alert-text-warning: #392b0a;
  --bp-color-alert-text-error: #320e11;
  --bp-color-alert-border-info: #076ea8;
  --bp-color-alert-border-warning: #b19014;
  --bp-color-alert-border-success: #028663;
  --bp-color-alert-border-error: #c43837;
  --bp-color-link-text-default: #076ea8;
  --bp-color-link-text-hover: #076ea8;
  --bp-color-link-text-active: #076ea8;
  --bp-color-link-text-disabled: #5e5a5c;
  --bp-color-link-text-visited: #084f7a;
  --bp-color-link-background-hover: #e6f5fd;
  --bp-color-link-icon-default: #076ea8;
  --bp-color-link-icon-visited: #084f7a;
  --bp-color-icon-default: #090306;
  --bp-color-icon-primary: #076ea8;
  --bp-color-icon-info: #076ea8;
  --bp-color-icon-success: #028663;
  --bp-color-icon-warning: #b19014;
  --bp-color-icon-error: #c43837;
  --bp-color-icon-disabled: #5e5a5c;
  --bp-color-icon-on-primary: #ffffff;
  --bp-color-tab-text-selected: #076ea8;
  --bp-color-tab-border-selected: #076ea8;
  --bp-color-tab-border-hover: #084f7a;
  --bp-color-tab-border-default: #cdcccd;
  --bp-color-tooltip-background: #ffffff;
  --bp-color-logo-mark: #076ea8;
  --bp-color-logo-text: #076ea8;
  --bp-color-logo-seperator: #076ea8;
  --bp-color-text-placeholder: #777476;
  --bp-color-text-default: #090306;
  --bp-color-text-error: #c43837;
  --bp-color-text-disabled: #5e5a5c;
  --bp-color-text-heading-h1: #076ea8;
  --bp-color-text-heading-h2: #090306;
  --bp-color-text-heading-h3: #090306;
  --bp-color-text-heading-h4: #076ea8;
  --bp-color-text-heading-h5: #090306;
  --bp-color-text-heading-h6: #090306;
  --bp-color-text-help-text: #777476;
  --bp-color-admin-navigation-background-default: #090306;
  --bp-color-admin-navigation-text-default: #ffffff;
  --bp-color-inline-radio-background-default: #ffffff;
  --bp-color-inline-radio-background-selected: #076ea8;
  --bp-color-inline-radio-background-hover: #e6f5fd;
  --bp-color-inline-radio-background-disabled-default: #dad9d9;
  --bp-color-inline-radio-background-disabled-selected: #5e5a5c;
  --bp-color-inline-radio-border-default: #cdcccd;
  --bp-color-inline-radio-border-selected: #076ea8;
  --bp-color-inline-radio-border-hover: #e6f5fd;
  --bp-color-inline-radio-border-disabled-default: #dad9d9;
  --bp-color-inline-radio-border-disabled-selected: #5e5a5c;
  --bp-color-inline-radio-text-default: #090306;
  --bp-color-inline-radio-text-selected: #ffffff;
  --bp-color-inline-radio-text-help-text: #777476;
  --bp-color-inline-radio-text-disabled-default: #5e5a5c;
  --bp-color-inline-radio-text-disabled-selected: #dad9d9;
  --bp-color-label-background-default: #ffffff;
  --bp-color-label-background-disabled: #dad9d9;
  --bp-color-label-background-error: #ffffff;
  --bp-color-label-text-default: #090306;
  --bp-color-label-text-required: #c43837;
  --bp-color-label-text-disabled: #5e5a5c;
  --bp-color-label-text-error: #c43837;
  --bp-color-status-dot-success: #028663;
  --bp-color-status-dot-warning: #b19014;
  --bp-color-status-dot-error: #c43837;
  --bp-color-destructive-button-outlined-background-default: #ffffff;
  --bp-color-destructive-button-outlined-background-hover: #c43837;
  --bp-color-destructive-button-outlined-background-active: #320e11;
  --bp-color-destructive-button-outlined-background-disabled: #dad9d9;
  --bp-color-destructive-button-outlined-border-default: #c43837;
  --bp-color-destructive-button-outlined-border-hover: #c43837;
  --bp-color-destructive-button-outlined-border-active: #c43837;
  --bp-color-destructive-button-outlined-border-disabled: #5e5a5c;
  --bp-color-destructive-button-outlined-text-default: #c43837;
  --bp-color-destructive-button-outlined-text-hover: #ffffff;
  --bp-color-destructive-button-outlined-text-active: #ffffff;
  --bp-color-destructive-button-outlined-text-disabled: #5e5a5c;
  --bp-color-destructive-button-outlined-icon-default: #c43837;
  --bp-color-destructive-button-outlined-icon-hover: #ffffff;
  --bp-color-destructive-button-outlined-icon-active: #ffffff;
  --bp-color-destructive-button-outlined-icon-disabled: #5e5a5c;
  --bp-color-destructive-button-contained-background-default: #c43837;
  --bp-color-destructive-button-contained-background-hover: #320e11;
  --bp-color-destructive-button-contained-background-active: #320e11;
  --bp-color-destructive-button-contained-background-disabled: #dad9d9;
  --bp-color-destructive-button-contained-border-default: #c43837;
  --bp-color-destructive-button-contained-border-hover: #320e11;
  --bp-color-destructive-button-contained-border-active: #320e11;
  --bp-color-destructive-button-contained-border-disabled: #dad9d9;
  --bp-color-destructive-button-contained-text-default: #ffffff;
  --bp-color-destructive-button-contained-text-disabled: #5e5a5c;
  --bp-color-destructive-button-contained-icon-default: #ffffff;
  --bp-color-destructive-button-contained-icon-hover: #320e11;
  --bp-color-destructive-button-contained-icon-active: #320e11;
  --bp-color-destructive-button-contained-icon-disabled: #5e5a5c;
  --bp-color-destructive-button-text-default: #c43837;
  --bp-color-destructive-button-text-hover: #320e11;
  --bp-color-destructive-button-text-active: #320e11;
  --bp-color-destructive-button-text-disabled: #5e5a5c;
  --bp-color-destructive-button-text-icon-default: #c43837;
  --bp-color-destructive-button-text-icon-hover: #320e11;
  --bp-color-destructive-button-text-icon-active: #320e11;
  --bp-color-destructive-button-text-icon-disabled: #5e5a5c;
  --bp-color-destructive-button-text-background-hover: #fdf7f7;
  --bp-color-destructive-button-text-background-active: #fdf7f7;
  --bp-color-destructive-button-icon-background-default: #ffffff;
  --bp-color-destructive-button-icon-background-hover: #fdf7f7;
  --bp-color-destructive-button-icon-background-active: #fdf7f7;
  --bp-color-destructive-button-icon-background-disabled: #dad9d9;
  --bp-color-destructive-button-icon-border-active: #320e11;
  --bp-color-destructive-button-icon-icon-default: #c43837;
  --bp-color-destructive-button-icon-icon-hover: #320e11;
  --bp-color-destructive-button-icon-icon-active: #320e11;
  --bp-color-destructive-button-icon-icon-disabled: #5e5a5c;
  --bp-color-drag-item-icon-default: #076ea8;
  --bp-color-dropdown-option-background-default: #ffffff;
  --bp-color-dropdown-option-background-hover: #e6f5fd;
  --bp-color-dropdown-option-background-selected: #e6f5fd;
  --bp-color-card-background-default: #ffffff;
  --bp-color-checkbox-background-default: #ffffff;
  --bp-color-checkbox-background-hover: #e6f5fd;
  --bp-color-checkbox-background-selected: #076ea8;
  --bp-color-checkbox-background-selected-hover: #084f7a;
  --bp-color-checkbox-background-disabled: #dad9d9;
  --bp-color-checkbox-background-disabled-selected: #5e5a5c;
  --bp-color-checkbox-border-default: #cdcccd;
  --bp-color-checkbox-border-hover: #cdcccd;
  --bp-color-checkbox-border-selected: #076ea8;
  --bp-color-checkbox-border-selected-hover: #084f7a;
  --bp-color-checkbox-border-error: #c43837;
  --bp-color-checkbox-border-disabled: #5e5a5c;
  --bp-color-checkbox-icon-default: #076ea8;
  --bp-color-checkbox-icon-hover: #076ea8;
  --bp-color-checkbox-icon-selected: #ffffff;
  --bp-color-checkbox-icon-active: #076ea8;
  --bp-color-checkbox-icon-disabled: #5e5a5c;
  --bp-color-checkbox-icon-disabled-selected: #dad9d9;
  --bp-color-list-item-background-default: #ffffff;
  --bp-color-list-item-background-hover: #e6f5fd;
  --bp-color-list-item-background-selected: #e6f5fd;
  --bp-color-list-item-background-disabled: #dad9d9;
  --bp-color-list-item-border-default: #cdcccd;
  --bp-color-list-item-border-selected: #079cee;
  --bp-color-list-item-text-default: #090306;
  --bp-color-text-field-background-default: #ffffff;
  --bp-color-text-field-background-hover: #ffffff;
  --bp-color-text-field-background-selected: #076ea8;
  --bp-color-text-field-background-disabled: #dad9d9;
  --bp-color-text-field-background-disabled-selected: #5e5a5c;
  --bp-color-text-field-icon-default: #777476;
  --bp-color-text-field-icon-disabled: #5e5a5c;
  --bp-color-text-field-border-default: #cdcccd;
  --bp-color-text-field-border-hover: #cdcccd;
  --bp-color-text-field-border-selected: #076ea8;
  --bp-color-text-field-border-error: #c43837;
  --bp-color-text-field-border-disabled: #5e5a5c;
  --bp-color-text-field-text-placeholder: #777476;
  --bp-color-text-field-text-input: #090306;
  --bp-color-text-field-text-requried: #c43837;
  --bp-color-select-background-default: #ffffff;
  --bp-color-select-background-hover: #ffffff;
  --bp-color-select-background-selected: #ffffff;
  --bp-color-select-background-disabled: #dad9d9;
  --bp-color-select-background-error: #ffffff;
  --bp-color-select-border-default: #cdcccd;
  --bp-color-select-border-hover: #848182;
  --bp-color-select-border-selected: #848182;
  --bp-color-select-border-error: #c43837;
  --bp-color-select-border-disabled: #5e5a5c;
  --bp-color-select-border-selected-variant: #e6f5fd;
  --bp-color-select-icon-default: #777476;
  --bp-color-select-icon-disabled: #5e5a5c;
  --bp-color-select-option-background-default: #ffffff;
  --bp-color-select-option-background-hover: #e6f5fd;
  --bp-color-select-option-background-selected: #e6f5fd;
  --bp-color-multi-select-option-background-default: #ffffff;
  --bp-color-multi-select-option-border-selected: #cdcccd;
  --bp-color-file-upload-background-default: #ffffff;
  --bp-color-file-upload-background-hover: #ffffff;
  --bp-color-file-upload-background-selected: #076ea8;
  --bp-color-file-upload-background-disabled: #dad9d9;
  --bp-color-file-upload-background-disabled-selected: #5e5a5c;
  --bp-color-file-upload-icon-default: #777476;
  --bp-color-file-upload-icon-disabled: #5e5a5c;
  --bp-color-file-upload-border-default: #cdcccd;
  --bp-color-file-upload-border-hover: #cdcccd;
  --bp-color-file-upload-border-selected: #848182;
  --bp-color-file-upload-border-error: #c43837;
  --bp-color-file-upload-border-disabled: #5e5a5c;
  --bp-color-file-upload-text-placeholder: #777476;
  --bp-color-file-upload-text-input: #090306;
  --bp-color-file-upload-text-requried: #c43837;
  --bp-typography-heading-h1-font-family: Overpass;
  --bp-typography-heading-h1-font-weight: 300;
  --bp-typography-heading-h1-line-height: 2.5rem;
  --bp-typography-heading-h1-font-size: 2.25rem;
  --bp-typography-heading-h1-letter-spacing: 0%;
  --bp-typography-heading-h1-paragraph-spacing: 0;
  --bp-typography-heading-h1-text-case: none;
  --bp-typography-heading-h1-text-decoration: none;
  --bp-typography-heading-h2-font-family: Overpass;
  --bp-typography-heading-h2-font-weight: 700;
  --bp-typography-heading-h2-line-height: 2rem;
  --bp-typography-heading-h2-font-size: 1.75rem;
  --bp-typography-heading-h2-letter-spacing: 0%;
  --bp-typography-heading-h2-paragraph-spacing: 0;
  --bp-typography-heading-h2-text-case: none;
  --bp-typography-heading-h2-text-decoration: none;
  --bp-typography-heading-h3-font-family: Overpass;
  --bp-typography-heading-h3-font-weight: 400;
  --bp-typography-heading-h3-line-height: 1.75rem;
  --bp-typography-heading-h3-font-size: 1.5rem;
  --bp-typography-heading-h3-letter-spacing: 0%;
  --bp-typography-heading-h3-paragraph-spacing: 0;
  --bp-typography-heading-h3-text-case: none;
  --bp-typography-heading-h3-text-decoration: none;
  --bp-typography-heading-h4-font-family: Overpass;
  --bp-typography-heading-h4-font-weight: 900;
  --bp-typography-heading-h4-line-height: 1.3125rem;
  --bp-typography-heading-h4-font-size: 1.125rem;
  --bp-typography-heading-h4-letter-spacing: 1.75;
  --bp-typography-heading-h4-paragraph-spacing: 0;
  --bp-typography-heading-h4-text-case: uppercase;
  --bp-typography-heading-h4-text-decoration: none;
  --bp-typography-heading-h5-font-family: Overpass;
  --bp-typography-heading-h5-font-weight: 800;
  --bp-typography-heading-h5-line-height: 1.3125rem;
  --bp-typography-heading-h5-font-size: 1rem;
  --bp-typography-heading-h5-letter-spacing: 0%;
  --bp-typography-heading-h5-paragraph-spacing: 0;
  --bp-typography-heading-h5-text-case: none;
  --bp-typography-heading-h5-text-decoration: none;
  --bp-typography-heading-h6-font-family: Overpass;
  --bp-typography-heading-h6-font-weight: 600;
  --bp-typography-heading-h6-line-height: 1.3125rem;
  --bp-typography-heading-h6-font-size: 0.875rem;
  --bp-typography-heading-h6-letter-spacing: 0%;
  --bp-typography-heading-h6-paragraph-spacing: 0;
  --bp-typography-heading-h6-text-case: none;
  --bp-typography-heading-h6-text-decoration: none;
  --bp-typography-label-large-font-family: Overpass;
  --bp-typography-label-large-font-weight: 700;
  --bp-typography-label-large-line-height: 1.25rem;
  --bp-typography-label-large-font-size: 0.875rem;
  --bp-typography-label-large-letter-spacing: 0%;
  --bp-typography-label-large-paragraph-spacing: 0;
  --bp-typography-label-large-text-case: Title Case;
  --bp-typography-label-large-text-decoration: none;
  --bp-typography-label-tab-font-family: Overpass;
  --bp-typography-label-tab-font-weight: 700;
  --bp-typography-label-tab-line-height: 1.25rem;
  --bp-typography-label-tab-font-size: 0.875rem;
  --bp-typography-label-tab-letter-spacing: 0%;
  --bp-typography-label-tab-paragraph-spacing: 0;
  --bp-typography-label-tab-text-case: uppercase;
  --bp-typography-label-tab-text-decoration: none;
  --bp-typography-label-table-heading-font-family: Overpass;
  --bp-typography-label-table-heading-font-weight: 800;
  --bp-typography-label-table-heading-line-height: 1.5rem;
  --bp-typography-label-table-heading-font-size: 0.875rem;
  --bp-typography-label-table-heading-letter-spacing: 0%;
  --bp-typography-label-table-heading-paragraph-spacing: 0;
  --bp-typography-label-table-heading-text-decoration: none;
  --bp-typography-label-table-heading-text-case: none;
  --bp-typography-label-form-label-font-family: Overpass;
  --bp-typography-label-form-label-font-weight: 700;
  --bp-typography-label-form-label-line-height: 1.25rem;
  --bp-typography-label-form-label-font-size: 0.875rem;
  --bp-typography-label-form-label-letter-spacing: 0%;
  --bp-typography-label-form-label-paragraph-spacing: 0;
  --bp-typography-label-form-label-text-decoration: none;
  --bp-typography-label-form-label-text-case: none;
  --bp-typography-label-input-label-font-family: Overpass;
  --bp-typography-label-input-label-font-weight: 400;
  --bp-typography-label-input-label-line-height: 1.3125rem;
  --bp-typography-label-input-label-font-size: 0.875rem;
  --bp-typography-label-input-label-letter-spacing: 0%;
  --bp-typography-label-input-label-paragraph-spacing: 0;
  --bp-typography-label-input-label-text-decoration: none;
  --bp-typography-label-input-label-text-case: none;
  --bp-typography-body-default-font-family: Overpass;
  --bp-typography-body-default-font-weight: 400;
  --bp-typography-body-default-line-height: 1.3125rem;
  --bp-typography-body-default-font-size: 0.875rem;
  --bp-typography-body-default-letter-spacing: 0%;
  --bp-typography-body-default-paragraph-spacing: 0;
  --bp-typography-body-default-text-case: none;
  --bp-typography-body-default-text-decoration: none;
  --bp-typography-body-help-text-font-family: Overpass;
  --bp-typography-body-help-text-font-weight: Italic;
  --bp-typography-body-help-text-line-height: 1.25rem;
  --bp-typography-body-help-text-font-size: 0.875rem;
  --bp-typography-body-help-text-letter-spacing: 0%;
  --bp-typography-body-help-text-paragraph-spacing: 0;
  --bp-typography-body-help-text-text-case: none;
  --bp-typography-body-help-text-text-decoration: none;
  --bp-typography-body-link-font-family: Overpass;
  --bp-typography-body-link-font-weight: 400;
  --bp-typography-body-link-line-height: 1rem;
  --bp-typography-body-link-font-size: 0.875rem;
  --bp-typography-body-link-letter-spacing: 0%;
  --bp-typography-body-link-paragraph-spacing: 0;
  --bp-typography-body-link-text-case: none;
  --bp-typography-body-link-text-decoration: UNDERLINE;
  --bp-typography-body-small-font-family: Overpass;
  --bp-typography-body-small-font-weight: 400;
  --bp-typography-body-small-line-height: 1rem;
  --bp-typography-body-small-font-size: 0.75rem;
  --bp-typography-body-small-letter-spacing: 0%;
  --bp-typography-body-small-paragraph-spacing: 0;
  --bp-typography-body-small-text-decoration: none;
  --bp-typography-body-small-text-case: none;
  --bp-typography-navigation-primary-font-family: Overpass;
  --bp-typography-navigation-primary-font-weight: 600;
  --bp-typography-navigation-primary-line-height: 1.5rem;
  --bp-typography-navigation-primary-font-size: 0.875rem;
  --bp-typography-navigation-primary-letter-spacing: 0%;
  --bp-typography-navigation-primary-paragraph-spacing: 0;
  --bp-typography-navigation-primary-text-case: none;
  --bp-typography-navigation-primary-text-decoration: none;
  --bp-typography-navigation-secondary-font-family: Overpass;
  --bp-typography-navigation-secondary-font-weight: 400;
  --bp-typography-navigation-secondary-line-height: 1.25rem;
  --bp-typography-navigation-secondary-font-size: 0.875rem;
  --bp-typography-navigation-secondary-letter-spacing: 0%;
  --bp-typography-navigation-secondary-paragraph-spacing: 0;
  --bp-typography-navigation-secondary-text-case: none;
  --bp-typography-navigation-secondary-text-decoration: none;
  --bp-typography-navigation-copyright-font-family: Overpass;
  --bp-typography-navigation-copyright-font-weight: 400;
  --bp-typography-navigation-copyright-line-height: AUTO;
  --bp-typography-navigation-copyright-font-size: 0.75rem;
  --bp-typography-navigation-copyright-letter-spacing: 0%;
  --bp-typography-navigation-copyright-paragraph-spacing: 0;
  --bp-typography-navigation-copyright-text-case: none;
  --bp-typography-navigation-copyright-text-decoration: none;
  --bp-typography-utility-chip-font-family: Overpass;
  --bp-typography-utility-chip-font-weight: 700;
  --bp-typography-utility-chip-line-height: 0.75rem;
  --bp-typography-utility-chip-font-size: 0.75rem;
  --bp-typography-utility-chip-letter-spacing: 0%;
  --bp-typography-utility-chip-paragraph-spacing: 0;
  --bp-typography-utility-chip-text-decoration: none;
  --bp-typography-utility-chip-text-case: uppercase;
  --bp-typography-utility-button-font-family: Overpass;
  --bp-typography-utility-button-font-weight: 600;
  --bp-typography-utility-button-line-height: 1rem;
  --bp-typography-utility-button-font-size: 0.875rem;
  --bp-typography-utility-button-letter-spacing: 0%;
  --bp-typography-utility-button-paragraph-spacing: 0;
  --bp-typography-utility-button-text-decoration: none;
  --bp-typography-utility-button-text-case: uppercase;
  --bp-typography-utility-accordion-font-family: Overpass;
  --bp-typography-utility-accordion-font-weight: 700;
  --bp-typography-utility-accordion-line-height: 0.75rem;
  --bp-typography-utility-accordion-font-size: 0.75rem;
  --bp-typography-utility-accordion-letter-spacing: 0%;
  --bp-typography-utility-accordion-paragraph-spacing: 0;
  --bp-typography-utility-accordion-text-decoration: none;
  --bp-typography-utility-accordion-text-case: uppercase;
  --bp-typography-utility-badge-font-family: Overpass;
  --bp-typography-utility-badge-font-weight: 700;
  --bp-typography-utility-badge-line-height: 0.75rem;
  --bp-typography-utility-badge-font-size: 0.75rem;
  --bp-typography-utility-badge-letter-spacing: 0%;
  --bp-typography-utility-badge-paragraph-spacing: 0;
  --bp-typography-utility-badge-text-decoration: none;
  --bp-typography-utility-badge-text-case: uppercase;
  --bp-typography-utility-inline-radio-font-family: Overpass;
  --bp-typography-utility-inline-radio-font-weight: 300;
  --bp-typography-utility-inline-radio-line-height: 1.25rem;
  --bp-typography-utility-inline-radio-font-size: 1rem;
  --bp-typography-utility-inline-radio-letter-spacing: 0%;
  --bp-typography-utility-inline-radio-paragraph-spacing: 0;
  --bp-typography-utility-inline-radio-text-decoration: none;
  --bp-typography-utility-inline-radio-text-case: none;
  --bp-border-radius-navigation: 0.5rem;
  --bp-border-radius-dropdown: 0.25rem;
  --bp-border-radius-inline-radio: 0.875rem;
  --bp-border-radius-inline-radio-large: 0.375rem;
  --bp-border-radius-link: 2rem;
  --bp-border-radius-label: 2rem;
  --bp-border-radius-input: 0.25rem;
  --bp-border-radius-select: 0.25rem;
  --bp-border-radius-text-field: 0.25rem;
  --bp-border-radius-status-dot: 2rem;
  --bp-border-radius-slim-navigation: 2rem;
  --bp-border-radius-badge: 0.25rem;
  --bp-border-radius-button: 2rem;
  --bp-border-radius-accordion: 0;
  --bp-border-radius-card: 0.25rem;
  --bp-border-radius-checkbox: 0.25rem;
  --bp-border-radius-table: 0.25rem;
  --bp-border-radius-multi-select-item: 0.25rem;
  --bp-outline-width-focus: 0.125rem;
  --bp-outline-width-input-focus: 0.125rem;
  --bp-border-width-active: 0.125rem;
  --bp-border-width-navigation-seperator: 0.0625rem;
  --bp-border-width-input-default: 0.125rem;
  --bp-border-width-input-active: 0.25rem;
  --bp-border-width-dropdown-default: 0.125rem;
  --bp-border-width-dropdown-active: 0.25rem;
  --bp-border-width-button: 0.125rem;
  --bp-border-width-navigation: 0.125rem;
  --bp-border-width-table: 0.0625rem;
  --bp-border-width-text-field-default: 0.125rem;
  --bp-border-width-text-field-active: 0.25rem;
  --bp-border-width-select-default: 0.125rem;
  --bp-border-width-select-active: 0.25rem;
  --bp-shadow-navigation-secondary-old-hover: 0 2 3 -2 #00000035;
  --bp-shadow-navigation-secondary-hover: 0px 1px 5px 0px #00000033, 0px 3px 1px 0px #0000001f, 0px 2px 2px 0px #00000024;
  --bp-shadow-navigation-header: 0 0 10 0 #0000000d, 0 1 1 0 #0000001a;
  --bp-shadow-card-default: 0px 1px 1px 0px #00000024, 0px 2px 1px 0px #0000001f, 0px 1px 3px 0px #00000033;
  --bp-shadow-focus: 0 0 0 2 #079cee;
  --bp-shadow-focus-visible: 0 0 0 2 #079cee;
  --bp-shadow-table-scroll-left: 5 0 10 0 #00000024;
  --bp-shadow-table-scroll-right: -5 0 10 0 #00000024;
  --bp-shadow-modal-default: 0px 24px 38px 0px #00000024, 0px 9px 46px 0px #0000001f, 0px 11px 15px 0px #00000033;
  --bp-spacing-none: 0;
  --bp-spacing-xxxx-sm: 0.125rem;
  --bp-spacing-xxx-sm: 0.25rem;
  --bp-spacing-xx-sm: 0.5rem;
  --bp-spacing-x-sm: 0.75rem;
  --bp-spacing-sm: 1rem;
  --bp-spacing-med: 1.5rem;
  --bp-spacing-lg: 2rem;
  --bp-spacing-x-lg: 4rem;
  --bp-spacing-drag-item-weight-box-top-bottom: 0.25rem;
  --bp-spacing-drag-item-weight-box-left-right: 0.5rem;
  --bp-elevation-12: 0px 7px 8px 0px #00000033, 0px 5px 22px 0px #0000001f, 0px 12px 17px 0px #00000024;
  --bp-elevation-16: 0px 8px 10px 0px #00000033, 0px 6px 30px 0px #0000001f, 0px 16px 24px 0px #00000024;
  --bp-elevation-24: 0px 24px 38px 0px #00000024, 0px 9px 46px 0px #0000001f, 0px 11px 15px 0px #00000033;
  --bp-elevation-01: 0px 1px 1px 0px #00000024, 0px 2px 1px 0px #0000001f, 0px 1px 3px 0px #00000033;
  --bp-elevation-02: 0px 1px 5px 0px #00000033, 0px 3px 1px 0px #0000001f, 0px 2px 2px 0px #00000024;
  --bp-elevation-03: 0px 1px 8px 0px #00000033, 0px 3px 3px 0px #0000001f, 0px 3px 4px 0px #00000024;
  --bp-elevation-04: 0px 2px 4px 0px #00000033, 0px 1px 10px 0px #0000001f, 0px 4px 5px 0px #00000024;
  --bp-elevation-06: 0px 3px 5px 0px #00000033, 0px 1px 18px 0px #0000001f, 0px 6px 10px 0px #00000024;
  --bp-elevation-08: 0px 5px 5px 0px #00000033, 0px 3px 14px 0px #0000001f, 0px 8px 10px 0px #00000024;
  --bp-elevation-09: 0px 5px 6px 0px #00000033, 0px 3px 16px 0px #0000001f, 0px 9px 12px 0px #00000024;
  --bp-border-table: [object Object];
      }